---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
// @import url(http://fonts.googleapis.com/css?family=Montserrat:700);

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$header-font-family: Arial, sans-serif; //'Montserrat', 
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
//$background-color: #eeeeee;
$background-color: white;
$post-background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$shadow-color: #cccccc;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Irish Sea - http://paletton.com/#uid=12Q0u0k7RBG1pW649NecqtBhVo9
$color-darker:  #439748;
$color-dark:    #72BA76;
$color-main:    #A0D4A3;
$color-light:   #CAE8CC;
$color-lighter: #ECF7ED;

// Plotting - http://paletton.com/#uid=13s0u0kmww-cINsi9Earsu6u3nR
$color-darker:  #0D5578;
$color-dark:    #1C6F98;
$color-main:    #367FA3;
$color-light:   #579BBC;
$color-lighter: #86BDD7;

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

$wp-img: "{{ "/images/wp-10.png" | prepend: site.baseurl }}";



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "_vendor/pure/pure", "_vendor/pure/grids-responsive";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "monokai",
        "rabidaudio"
;