/**
 * Content
*/
.page-content {
  padding: $spacing-unit 0;
}
.full-page {
  padding: 0px;
  background-color: #000000;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  .post-link {
      font-size: 24px;
  }

  .post-list-container {
    padding: 10px;
    height: 170px;
    overflow-y: hidden;
    color: $mellow-white;
    margin: 8px;
  }

  a:hover {
    text-decoration: none;
  }

  .post-title {
    font-size: 20px;
    margin: 0px;
    color: $mellow-white;
  }

  .subtitle-container {
    margin-top: -15px;
  }

  .post-excerpt {
    font-size: 15px;
    text-align: justify;
    padding-right: 10px;
    height: 6em;
    overflow-y: hidden;
    p {
      margin-bottom: 0px;
    }
    p:after { //hack to justify last-line universally
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
  .date {
    font-size: 14px;
    vertical-align: middle;
  }
}