/**
*   Core
*/
.body {
  font-family: $base-font-family;
  font-size: medium;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 700;
    margin-bottom: 1em;
}

img {
  -webkit-user-drag: none; //for purposes of swipe
}

code {
  font-size: 85%;
}

pre, code {
  overflow-x: auto;
  line-height: initial;
}

blockquote {
    color: $grey-color-darker;
    font-style: normal;
}

code, kbd, pre, samp {
  font-family: 'courier new', monospace;
}

noscript div {
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: -30px;
  margin-bottom: 30px;
}

hr {
  margin: 30px;
  border-width: 1px 0px 0px 0px;
}
table {
  margin-bottom: 15px;
}
td {
  padding-left: 5px;
  border-width: 1px;
  border-style: solid;
}
