/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-lighter;
  position: relative;
}

.site-title {
  font-size: 1.5em;
  float: left;
  h1{
    letter-spacing: -2px;
    margin-bottom: 0px;
    font-family: 'Montserrat', 'Open Sans', Arial, sans-serif;
    font-variant: small-caps;
  }
}

.site-nav {
  float: right;
  line-height: $header-height;
  max-width: 45%;
  text-align: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    vertical-align: bottom;
    margin-bottom: 0px;
    margin-left: 5px;
  }
}