.post {
  .img-wrapper img {
    width: 100%;
  }
  // special image classes
  .img-wrapper.right {
    margin-left: auto;
    margin-bottom: 40px;
  }
  .img-wrapper.left {
    margin-right: auto;
    margin-bottom: 40px;
  }
  .img-wrapper.center {
    margin: auto;
    margin-bottom: 40px;
  }
  .img-wrapper.float.left {
    margin: 20px; //overwrite .left margin
    float: left;
  }
  .img-wrapper.float.right {
    margin: 20px; //overwrite .right margin
    float: right;
  }
  .img-wrapper.tiny {
    width: 50px;
  }
  .img-wrapper.xsmall {
    width: 100px;
  }
  .img-wrapper.small {
    width: 200px;
  }
  .img-wrapper.medium {
    width: 300px;
  }
  .img-wrapper.large {
   width: 500px;
  }
  .img-wrapper.xlarge {
    width: 600px;
  }
  .img-wrapper.full {
    width: 100%;
  }
}

//image container details
.img-wrapper {
  position: relative;
  margin: 20px;
  max-width: 100%;
}
.img-description {
  background-color:black;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 500;

  div {
    padding: 0px 10px;
  }


//smexy transitions
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -o-transition: opacity 0.2s ease-in-out 0.1s;
  transition: opacity 0.2s ease-in-out 0.1s;

}
.img-description-link:hover .img-description {
  opacity: 0.7;
}


.img-citation {
  position: absolute;
  bottom: -10px;
  right: 0px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  background-color: black;
  font-weight: bold;
  z-index: 100;
  width: 100%;
  text-align: right;

  span, a, a:hover, a:visited  {
    padding-right: 3px;
    //force white text
    color: white;
  }
}