
.img-wrapper {
  position: relative;
  padding: 20px;
}
.img-description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  // display: none;
  background-color:black;
  color: white;
   opacity:0.6;
}
.post {
  img {
    width: 100%;
  }
  .img-wrapper.fleft {
    float: left;
  }
  .img-wrapper.fright {
    float: right;
  }
  .img-wrapper.right {
    margin-left: auto;
  }
  .img-wrapper.left {
    margin-right: auto;
  }
  .img-wrapper.center {
    margin: auto;
  }
  .img-wrapper.xsmall {
    width: 75px;
  }
  .img-wrapper.small {
    width: 150px;
  }
  .img-wrapper.medium {
    width: 300px;
  }
  .img-wrapper.large {
   width: 500px;
  }
  .img-wrapper.xlarge {
    width: 100%;
  }
}