---
layout: default
published: true
title: All Posts
permalink: /all/
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta date" date="{{ post.date | date_to_rfc822 }}" title="{{ post.date | date: "%b %-d, %Y, %k:%M" }}">
            {{ post.date | date: "%b %-d, %Y" }}
        </span>
        <a class="post-link" href="{{ post.url | replace: 'index.html', '' | prepend: site.baseurl }}">{{ post.title }}</a>
        {% assign l = post.tags | size %}
        {% if l > 0 %}<span class="post-tags">{{ post.tags | array_to_sentence_string }}</span>{% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
