---
layout: full-blank
---
<script type="text/template" class="album-art-template">
<div class="pure-u-4-24 pure-u-md-3-24 pure-u-xl-2-24">
  <img class="albumart albumart-img--%INDEX%"/>
</div>
</script>
<section class="home">
  <div class="albumart-bg pure-g"></div>
  <div class="home-content-container">
    <div class="home-content">
      <div class="welcome-message home-content-box">
        <div class="header">
          <span class="site-title" href="{{ site.baseurl }}/">
            <h1>RabidAudio</h1>
          </span>
          <p class="description">{{ site.description }}</p>
          <nav class="site-nav">
            <a href="#" class="menu-icon"><i class="fa fa-list-ul"></i></a>
            <div class="trigger">
              {% for page in site.nav %}
                {% if page.title %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </nav>
          <nav class="lastfm-button home-content-box">
            <div class="trigger">
              <div>These are the top albums from <span class="lastfm-username"></span>. Enter another username here:</div>
              <div class="lfm-username-input-container">
                <input type="text" placeholder="last.fm username" class="lfm-username-input">
              </div>
            </div>
            <a href="#" class="lfm-menu-icon"><i class="fa fa-lastfm"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var LASTFM_USERNAME = "{{ site.defaults[0].values.author.lastfm }}";
  var IMAGE_QUALITY = 2; //0-3

  function grab_from_query_string( prop ){
  //http://www.netlobo.com/url_query_string_javascript.html
      prop = prop.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
      var regex = new RegExp( "[\\?&]"+prop+"=([^&#]*)" );
      var results = regex.exec( window.location.href );
      if( results == null ) return null; else return results[1];
  }

  $(document).ready(function(){
    var lfm_username = (grab_from_query_string('user')   || LASTFM_USERNAME);
    var period = (grab_from_query_string('period') || '6month');
    
    // $('.albumart').parent().css('min-height', $('.albumart').first().parent().width());
    new LastFM({
        apiKey: '7906a0f41ca90b95bce3ca35f6f245df',
    }).user.getTopAlbums({
      user:   lfm_username,
      period: period,
      limit: 100
    }, {
      error: function(code, message){ console.error(message); },
      success: function(data){
        var template = $('.album-art-template').html();
        data.topalbums.album.forEach(function(album, index){
          $('.albumart-bg').append(template.replace('%INDEX%', index));
          var el = $('.albumart-img--'+index);
          //temporarily set div min-height so that they keep their size while the image swaps
          el.parent().css('min-height', el.parent().width());
          el.fadeOut(0)
            .attr('src', album.image[IMAGE_QUALITY]['#text'])
            .attr('title', album.artist.name+" - "+album.name)
            .attr('mbid', album.mbid)
            .load(function(){
              //fade in and remove the div height fix
              $(this)
                .fadeIn(700)
                .parent().css('min-height', 0);
            });
        });
      }
    });
    $('.lastfm-username').text(lfm_username);
    $('.lfm-username-input').keypress(function(e){
      if(e.keyCode === 13){
        window.location.search = "user="+$(this).val()
          +"&period="+period;
      }
    });
  });
  $(window).load(move_row);

  function move_row(){
    var art = $('.albumart').first();
    var bg = $('.albumart-bg');
    var scroll_dist = art.width();
    bg.animate({
      top: '-='+scroll_dist
    }, 10000, "linear", function(){
      var scroll_dist = art.width();
      var row_size = Math.round( $(document).width() / scroll_dist );
      console.log(row_size);
      bg.css('top', 0).append(bg.children(":lt("+row_size+")"));
      move_row(); // go around again
    });
  }
</script>