---
layout: full-blank
---
<section class="home">
  <div class="albumart-bg pure-g">
    {% for i in (0..99) %}
    <div class="pure-u-4-24 pure-u-md-3-24 pure-u-xl-2-24">
      <img class="albumart albumart-img--{{ i }}"/>
    </div>
    {% endfor %}
  </div>
<!--   <div class="home-content-container">
    <div class="header-content home-content-box">
      <h1>RabidAudio</h1>
    </div>
  </div> -->
  <div class="home-content-container">
    <div class="home-content">
      <div class="welcome-message home-content-box">
        <div class="header">
          <span class="site-title" href="{{ site.baseurl }}/">
            <h1>RabidAudio</h1>
          </span>
          <p class="description">{{ site.description }}</p>
          <nav class="site-nav">
            <a href="#" class="menu-icon"><i class="fa fa-list-ul"></i></a>
            <div class="trigger">
              {% for page in site.nav %}
                {% if page.title %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </nav>
        </div>
<!--         <div class="form bg-selector">
          <input type="text" placeholder="last.fm username" class="input-lfm-username">
        </div> -->
      <div>
    </div>
  </div>
</div>
<script>
  var LASTFM_USERNAME = "{{ site.defaults[0].values.author.lastfm }}";
  var IMAGE_QUALITY = 2; //0-3

  function grab_from_query_string( prop ){
  //http://www.netlobo.com/url_query_string_javascript.html
      prop = prop.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
      var regex = new RegExp( "[\\?&]"+prop+"=([^&#]*)" );
      var results = regex.exec( window.location.href );
      if( results == null ) return null; else return results[1];
  }

  $(document).ready(function(){
    new LastFM({
        apiKey: '7906a0f41ca90b95bce3ca35f6f245df',
    }).user.getTopAlbums({
      user:   (grab_from_query_string('user')   || LASTFM_USERNAME),
      period: (grab_from_query_string('period') || '6month'),
      limit: 100
    }, {
      error: function(code, message){ console.error(message); },
      success: function(data){
        data.topalbums.album.forEach(function(album,index){
          $('.albumart-img--'+index)
            .hide()
            .attr('src', album.image[IMAGE_QUALITY]['#text'])
            .attr('title', album.artist.name+" - "+album.name)
            .attr('mbid', album.mbid)
            //when image is ready, fade in
            .load(function(){ $(this).fadeIn(700); });
        });
      }
    });
    $('.input-lfm-username').keypress(function(e){
      if(e.keyCode === 13){
        window.location.search = "user="+$(this).val()
          +"&period="+(grab_from_query_string('period') || '6month');
      }
    });
  });
</script>