<style>
  {% if site.colors[include.colors] %}
    {% assign colors = site.colors[include.colors] %}
    /* Using color {{ include.colors }} */
  {% else %}
    {% assign colors = site.colors.default %}
    /* No suitable color found: {{ include.colors }} */
  {% endif %}
  pre, code {
    background-color: {{ colors.lighter }};
  }
  a {
    color: {{ colors.dark }};
  }
  a:visited {
    color: {{ colors.darker }};
  }
  .site-header {
    border-top: 10px solid {{ colors.darker }};
    background-color: {{ colors.lighter }};
  }
</style>