<style>
  {% if site.colors[include.colors] %}
    {% assign colors = site.colors[include.colors] %}
    /* Using color {{ include.colors }} */
  {% else %}
    {% assign colors = site.colors.default %}
    /* No suitable color found: {{ include.colors }} */
  {% endif %}
  pre, code {
    background-color: {{ colors.lighter }};
    color: {{ colors.darker }};
  }
  a {
    color: {{ colors.dark }};
  }
  a:visited {
    color: {{ colors.darker }};
  }
  .site-header {
    border-top: 10px solid {{ colors.dark }};
    background-color: {{ colors.light }};
  }
  body {
    background-color: {{ colors.lighter }};
  }
  .headshot {
    border: 2px solid {{ colors.dark }};
  }
  h1, h2, h3, h4, h5 {
    color: {{colors.darker }};
  }
  .dinkus svg rect {
    fill: {{ colors.main }};
  }
  blockquote {
    border-left: 4px solid {{ colors.main }};
  }
</style>