<footer class="site-footer">
  <div class="wrapper">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-lg-1-5">
        <div class="author-footer-wrapper">
          {% assign siteauthor = site.footer_social %}
          {% include social.html author=siteauthor footer=true %}
        </div>
      </div>
      <div class="pure-u-1 pure-u-lg-3-5">
        <p class="text description">{{ site.description }}</p>
      </div>
      <div class="pure-u-1 pure-u-lg-1-5 licence">
        <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">{% include cc.svg %}</a></p>
    </div>
  </div>
</footer>