<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      <h1>RabidAudio</h1>
    </a>
    <nav class="site-nav">
      <a href="#" class="menu-icon"><i class="fa fa-list-ul"></i></a>
      <div class="trigger">
        {% for page in site.nav %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" name="{{ page.title | slugify }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
