<div class="bio">
  <div>
    <span class="name">{{ include.author.name }}</span>
  </div>
  <div class="holder">
    {% if include.author.img %}
    <div class="leftcol">
      <div class="headshot">
        <img src="{{ include.author.img }}" alt="{{ include.author.name }}">
      </div>
    </div>
    {% endif %}

    <div class="rightcol">
      <span class="minibio">{{ include.author.minibio }}</span>
      <div class="info">
        {% include social.html author=include.author %}
      </div>
    </div>
  </div>
</div>

<script>
//TODO find a css-friendly solution
$('.leftcol').css('max-width', Math.min.apply(null, $('.rightcol').map(function(){ return $(this).height() }) )+'px');

var $bio = $('.post-header .bio');
$('.author').click(function(e){
  e.stopPropagation();
  e.preventDefault();
  $bio.slideToggle();
});
$(document).click(function(e){
  console.log(e.target);
  if($bio.is(':visible') && !$(e.target).closest('.bio').length){
    e.stopPropagation();
    e.preventDefault();
    $bio.slideToggle();
  }
});
</script>