{% assign post = includes.post %}
<a class="post-link" href="{{ post.url | replace: 'index.html', '' | prepend: site.baseurl }}">
  <div class="post-list-container post-container--{{ post.category | slugify }}">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="subtitle-container">
      <span class="post-meta date" date="{{ post.date | date_to_rfc822 }}" title="{{ post.date | date: "%b %-d, %Y, %k:%M" }}">
          {{ post.date | date: "%b %-d, %Y" }}
      </span>
    </div>
    <div class="post-excerpt">
      <p>{{ post.content | replace: '<br />', ' ' | strip_html | truncate: site.post_excerpt_truncate, '...' }}</p>
    </div>
    {% assign l = post.tags | size %}
    {% if l > 0 %}<div>{% include colored_tags.html tags=post.tags %}</div>{% endif %}
  </div>
</a>