<ul class="social-media-list">
  {% if include.author.twitter %}
  <li>
    <a href="https://twitter.com/{{ include.author.twitter }}">
      <span class="icon icon--twitter">{% include twitter.svg %}</span>
      <span class="username">{{ include.author.twitter }}</span>
    </a>
  </li>
  {% endif %}
  {% if include.author.github %}
  <li>
    <a href="https://github.com/{{ include.author.github }}">
      <span class="icon  icon--github">{% include github.svg %}</span>
      <span class="username">{{ include.author.github }}</span>
    </a>
  </li>
  {% endif %}
  {% if include.author.email and include.footer != true %}
  <li>
    <a href="mailto:{{ include.author.email }}">
      <span class="icon icon--email">{% include email-icon.svg %}</span>

      <span class="email">{{ include.author.email }}</span>
    </a>
  </li>
  {% endif %}
  {% if include.footer %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="icon icon--rss">{% include rss.svg %}</span>
      <span class="feed">RSS/Atom Link</span>
    </a>
  </li>
  {% endif %}
  {% if include.author.bitcoin and include.footer != true %}
  <li>
      <span class="icon icon--bitcoin">{% include bitcoin.svg %}</span>
      <span class="bitcoin">{{ include.author.bitcoin }}</span>
    </a>
  </li>
  {% endif %}
</ul>