/**
 * My custom configuration
 */
.body {
  font-family: $base-font-family;
  font-size: medium;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 700;
}

code {
  font-size: 85%;
}

pre {
  overflow-x: auto;
}

div.post {
  background-color: $post-background-color;
  padding: 1em;
  border-radius: 1px;
  box-shadow: 0px 0px 6px 2px $shadow-color;
}

a {
  color: $color-dark;
}
a:visited {
  color: $color-darker;
}

a:hover {
  text-decoration: underline;
}

a.wikipedia {
  background-position: top right;
  background-image: url($wp-img);
  background-repeat: no-repeat;
  padding-right: 11px;
}

.post {
  .post-title {
    margin-bottom: 0px;
    font-size: 48px;
  }
  .post-subtitle {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .post-meta {
    padding-left: 10px;
    text-align: right;
    border-top-width: 1px;
    border-top-color: $grey-color-light;
    border-top-style: solid;
    a{
      color: $grey-color;
    }
  }  
}


// .site-nav {
//   margin-top: -50px;
// }

.site-title{
  img {
    width: 10%;
    padding-top: 5px;
    // position: absolute;
  }
  h1 {
    font-family: 'Montserrat', 'Open Sans', Arial, sans-serif;
  }
}


@include media-query($on-palm) {

  body{
    background-color: $post-background-color;
  }

  .wrapper {
    padding: 0px;
  }
  div.post {
    padding: .25em;
    border-radius: 1px;
    box-shadow: none;
    background-color: inherit;
  }
}
.site-header{
  border-top: 10px solid $color-darker;
  background-color: $color-lighter;
}

.post-list {
  li {
    margin: 0px;
  }
  .post-link {
    font-size: 20px;
    padding-left: 1em;
    padding-bottom: 1em;
  }
}

.inform-notice {
  background-color: rgba(223, 10, 10, 0.91);

  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

.post-nav {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $grey-color-light;
  margin-top: 15px;


  .next {
    width: 50%;
    text-align: left;
  }

  .prev {
    width: 50%;
    text-align: right;
  }
}

.post-content {
  margin-bottom: inherit;
}

.dinkus {
  text-align: center;
  padding: 10px;
  padding-bottom: 25px;
  svg {
    padding: 5px;
  }
}

.site-footer {
  .wrapper {
    padding: 0px;
    max-width: $content-width + ($spacing-unit * 2);
  }
  font-size: 15px;
  color: #828282;
  // float: left;
  // margin-bottom: 15px;
  // padding-left: 15px;

  ul {
    margin-bottom: 0px;
  }

  .licence {
    text-align: right;
  }

  .cc {
    height: 45px;
  }

  .description {
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    line-height: $footer-height;
    margin-bottom: 0px;
  }
}
