/**
 * My custom configuration
 */
.body {
  font-family: $base-font-family;
  font-size: medium;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 700;
}

code {
  font-size: 85%;
}

pre, code {
  overflow-x: auto;
}

code, kbd, pre, samp {
  font-family: 'courier new', monospace;
}

a:hover {
  text-decoration: underline;
}

a.wikipedia {
  background-position: top right;
  background-image: url($wp-img);
  background-repeat: no-repeat;
  padding-right: 11px;
}

.fa {
  color: $grey-color;
}
.dinkus svg {
  fill: $grey-color-light;
}

@import "rabidaudio/header";

/**
 * Content
*/
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/** 
 * Post
*/

.post {
  background-color: $post-background-color;
  padding: 1em;
  border-radius: 1px;
  box-shadow: 0px 0px 6px 2px $shadow-color;

  .post-title {
    letter-spacing: -1px;
    line-height: 1;
    font-size: 3em;
    @include media-query($on-palm) {
      font-size: 1.7em;
    }
  }

  .post-subtitle {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .post-meta {
    padding-left: 10px;
    text-align: right;
    border-top-width: 1px;
    border-top-color: $grey-color-light;
    border-top-style: solid;
    a{
      color: $grey-color;
    }
  }
}

.post-content {
  margin-bottom: inherit;
}

.post-list {
  li {
    margin-bottom: 15px;
  }
  .post-link {
    font-size: 20px;
    padding-left: 15px;
  }
  .post-tags {
    font-style: italic;
    padding-left: 15px;
    color: $grey-color;
  }
}

.inform-notice {
  color: #000000;
  // background-color: rgba(223, 10, 10, 0.91);

  a {
    // color: #ffffff;
    text-decoration: underline;
  }
}

.post-nav {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $grey-color-light;
  margin-top: 15px;


  .next {
    width: 50%;
    text-align: left;
  }

  .prev {
    width: 50%;
    text-align: right;
  }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Footer
*/

.site-footer {
  .wrapper {
    padding: 0px;
    max-width: $content-width + ($spacing-unit * 2);
  }
  font-size: 15px;
  color: #828282;

  ul {
    margin-bottom: 0px;
  }

  .licence {
    text-align: right;
  }

  .description {
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
  }

  @include media-query($on-palm) {
    ul {
      list-style-type: none;
    }
    li {
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
    }

    .licence {
      text-align: center;
    }

    .description {
      padding-top: 30px;
      padding-bottom: 30px;
    }

  }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
  .author-footer-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/**
 * Other
*/
.bio{
  display: none;
  overflow-y: hidden;
  position: absolute;
  padding: 0px 10px 0px 10px;

  .name {
    margin-bottom: 0px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
  }

  .minibio {
    font-style: italic;
    color: $grey-color;
  }

  .holder {
    width: 100%;
  }

  .leftcol {
    min-width: 75px;
    float: left;
    width: 25%;
    padding-bottom: 5px;
  }

  .rightcol {
    float: left;
    min-width: 200px;
  }

  .headshot {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    margin: auto;
    overflow: hidden;
    // border: 2px solid $grey-color-light;
    border-radius: 9999px;

    img {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}

.bio-float-right {
  margin-left: auto;
  margin-right: 0;
  padding: 0px;
  width: 40%;
  min-width: 300px;
  margin-top: -12px;

  @include media-query($on-palm) {
    width: 100%;
    padding-left: 5%;
    .bio {
      background-color: #FFFFFF;
    }
  }
}

.social-media-list {
  .bitcoin {
    font-size: 7pt;
  }
  .icon {
    width: 22px;
    float: left;
    // text-align: center;
  }
  .icon--email {
    font-size: 14px;
  }
}

.header-link{
  position:relative;
  left:0.5em;
  opacity:0;
  font-size:0.8em;
  -webkit-transition:opacity 0.2s ease-in-out 0.1s;
  -moz-transition:opacity 0.2s ease-in-out 0.1s;
  -o-transition:opacity 0.2s ease-in-out 0.1s;
  transition:opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link, h3:hover .header-link,
h4:hover .header-link, h5:hover .header-link,
h6:hover .header-link{
  opacity:1;
}

.dinkus {
  text-align: center;
  padding: 10px;
  padding-bottom: 25px;
  .fa {
    color: $grey-color-light;
    letter-spacing: 5px;
  }
  // svg {
  //   padding: 5px;
  // }
}

noscript div {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: -30px;
  margin-bottom: 30px;
}