

pre {
  overflow-x: auto;
}

div.post {
  background-color: $post-background-color;
  padding: 1em;
  border-radius: 1px;
  box-shadow: 0px 0px 6px 2px $shadow-color;
}

a {
  color: $color-dark;
}
a:visited {
  color: $color-darker;
}

a:hover {
  text-decoration: underline;
}

a.wikipedia {
  background-position: top right;
  background-image: url($wp-img);
  background-repeat: no-repeat;
  padding-right: 11px;
}

.post-title {
  margin-bottom: 0px;
  font-size: 48px;
}
.post-meta {
  padding-left: 10px;
  a{ color: $grey-color; }
}

// .site-nav {
//   margin-top: -50px;
// }

.site-title img {
  width: 10%;
  padding-top: 5px;
  // position: absolute;
}

@include media-query($on-palm) {

  body{
    background-color: $post-background-color;
  }

  .wrapper {
    padding: 0px;
  }
  div.post {
    padding: .25em;
    border-radius: 1px;
    box-shadow: none;
    background-color: inherit;
  }
}
.site-header{
  border-top: 10px solid $color-darker;
  background-color: $color-light;
}