---
layout: post
---
<div class="alert">
    <h3>Note</h3>
    <p>
        This is an old post or draft which was migrated from my old blog. It may have broken links,
        and it definitely has questionable opinions. Consume at your own risk.
    </p>
</div>

{{ content }}
