---
layout: default
---

<div class="post-timestamp">
    Published: {{ resource.data.date | date: "%d %b %Y" }}
</div>

{% if resource.data.categories %}
    <ul class="post-categories">
            {% for category in resource.data.categories %}
                <li>{{ category  }}</li>
            {% endfor  %}
    </ul>
{% endif %}

{{ content }}
