<footer>
  {%- comment -%}
    Contact me at <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>
  {%- endcomment -%}

  <div class="blurb"><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-SA</a>.</div>
  <div class="blurb">Last Updated <a href="https://github.com/rabidaudio/rabid.audio">{{ "now" | date: "%Y-%m-%d" }}</a>.</div>
  <div class="blurb">Made with ♥ in Atlanta.</div>
</footer>
