<header>
  {%- comment -%}
    <img src="{{ '/images/logo.svg' | relative_url }}" alt="Logo" />
  {%- endcomment -%}
  <a href="{{ '/' | relative_url }}">
    <h1 class="logo">rabid.audio</h1>
  </a>
  <p class="tagline">{{ metadata.description }}</p>
</header>